<div class="topnav">
  <div class="topnav-right">

    <button class="btn btn-primary" (click)="isShown = !isShown">Menu</button>
  </div>
</div>
<div class="menu topnav-right">
  <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="isShown = false" routerLink="/home" >Home</a>
      
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="isShown = false" routerLink="/about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="isShown = false" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>

<div class="container"><img class="img-fluid w-100"
  src="https://i.pinimg.com/originals/34/90/2f/34902fc14c13beeaba1395610bc47590.jpg" alt="">
<h1 class="text-center">Discover the UNDISCOVERED</h1>
<p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet dignissimos, enim voluptates,
  inventore recusandae commodi repellendus nesciunt error consectetur adipisci sequi officiis mollitia sit illo
  voluptatem quo praesentium expedita minima!</p>
<div class="row justify-content-center col-centered">
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.clipart.email/2833f6201fdde175f809026cfb251cde_books-svg-clipart_1000-1000.svg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.clipart.email/2833f6201fdde175f809026cfb251cde_books-svg-clipart_1000-1000.svg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.clipart.email/2833f6201fdde175f809026cfb251cde_books-svg-clipart_1000-1000.svg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
</div>



    
<router-outlet></router-outlet>
